<h1>Play Blackjack!</h1>
<h3>How much will you bet?</h3>
<p><%= session[:name] %> currently has $<%= session[:player_earnings].to_i %></p>
<form action='/bet' method='post' class='form-inline'>
    <input type=text name='bet' placeholder='Dollar amount'>
    <input type=submit class='btn btn-primary' value='Bet'>
</form>