<h1>Play Blackjack!</h1>
<h3>How much will you bet?</h3>
<form action='/bet' method='post' class='form-inline'>
    <input type=text name='name' placeholder='Dollar amount'>
    <input type=submit class='btn btn-primary'>
</form>