<h1>Play Blackjack!</h1>
<h3>Start new game</h3>
<form action='/new_game' method='post' class='form-inline'>
    <input type=text name='name' placeholder='Your name'>
    <input type=submit class='btn btn-primary' value='Submit'>
</form>

