#hit_form {
  float: left; 
  margin-right: 10px;
}

#stay_form {
    float: right;
}

#nav-title {
    color: #ffffff;
}
.navbar {
    background-color: black;
}
.image_spacing {
    margin-right: 10px;
}

.nav-float {
    float: right;
}